header input{
    outline: 1px solid #175d78;
}
header button{
    border: 1px solid #175d78!important;
}
header button:hover{
    color: white!important;
}
header button a{
    color: #175d78!important;
}
header button a:hover{
    color: white!important;
}
header button:hover{
    background-color: #175d78!important;
}
header button.buscar{
    width: 35px;
    height: 35px;
    background-image: url("../images/icons/lupa.png");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
header button.buscar img{
    display: flex;
    justify-content: center;
    align-items: center;
}
header button.buscar:hover{
    background-color: #175d78;
    background-image: url("../images/icons/lupa1.png");
    background-size: 20px;
    background-repeat: no-repeat;
}
.menu ul li a {
    text-transform: uppercase;
    color: white;
    padding: 0;
}
.menu ul li{
    height: 50px;
    line-height: 50px;
}
.menu ul li:hover {
    background-color: #111;
    color: white;
}
.menu_user {
    min-width: 8rem;
}
section{
    min-height: 300px;
}
.prods{
    min-height: 550px;
}
.card{
    width: 200px;
    height: 270px;
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px #ddd;
}
a .card, a:hover{
    color: #000;
    text-decoration: none;
}
.card img{
    width: 194px;
    min-height: 194px;
    max-height: 194px;
    background-color: #eee;
    margin: 2px auto;
}

.carrinho {
    top:5px!important;
}
#qtCarrinho{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    position: absolute;
    line-height: 20px;
    font-size: 11pt;
}
.outlined{
    border: 1px red solid!important;
    outline: 1px solid red!important;
}
/* TELA DO PRODUTO */
.thumbnails, .img-thumbnail{
    min-width: 60px;
    min-height: 60px;
}
.prodImg img{
    background-color: #eee;
    width: 100%;
    height: 100%;
}
.truck {
    background-image: url("../images/icons/truck.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.map_marker {
    background-image: url("../images/icons/map_marker.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: none;
}
.fretePara{
    display: none;
    height: 0;
    transition: all .5s ease-in-out;
}
.infoFrete {
    display: none;
    transition: all .5s ease-in-out;
}
.infoPrazo {
    opacity: 0;
    transition: all 1s ease-in-out;
}
.alterarCep {
    display: none;
}
.desaparecer {
    display: none!important;
}
/* CARRINHO */
.cart td{
    padding: 3px;
    vertical-align: middle;
}
.qtd{
    font-weight: bold;
    padding: 0 3px;
}
.qtdMenos, .qtdMais{
    width: 20px;
    height: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    margin: 0 5px;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    border-radius: 10px;
}
.qtdMenos:hover, .qtdMais:hover{
    background-color: #175d78;
    color: white;
}
.qtdMenos:hover, .qtdMais:hover{
    background-color: #175d78;
    color: white;
}
.qtdMais{
    padding: 0;
}
.breadcrumbsCarrinho{
    display: none!important;    
}
.tab{
    color: #fff!important;
    text-shadow: 1px 1px 2px #000;
}
.tab.active {
    background-color: lightblue!important;
    font-weight: bold;
    color: #000;
}
.credit_card_img{
    /* background-image: url("../images/icons/credit_card.png");
    background-repeat: no-repeat;
    background-size: contain; */
    width: 40px;
    height: 40px;
}
.boleto_img{
    /* background-image: url("../images/icons/boleto.png");
    background-repeat: no-repeat;
    background-size: contain; */
    width: 40px;
    height: 40px;
}
/* FINALIZAR */
.radio {
    background-image: url("../images/icons/unchecked_radio.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
}
.radio.selected {
    background-image: url("../images/icons/checked_radio.png");
}
.pagamento {
    background-color: #666; 
}
.pagamento .form-control, .pagamento .form-control:active{
    background-color: #333;
    color: white;
}
.table_finalizar td{
    vertical-align: middle;
    padding: 2px 0;
}
.balaoCep, .balaoNumero{
    background: cornsilk;
    border-radius: 10px;
    border: 1px solid #175d78;
    width: auto;
    min-width: 110px;
    padding: 0 5px;
    height: 25px;
    left:45px;
    position: absolute;
    animation: balao infinite 1s linear;
    color: #175d78;
    transition: all ease-in-out 1s;
    text-align: center;
}
.balaoCep:after, .balaoNumero:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #175d78;
    bottom: -10px;
    left: 10%;
}
.balaoNumero{
    display: none;
}
@keyframes balao {
    0% {bottom: 40px;}
    25% {bottom: 38px;}
    50% {bottom: 35px;}
    75% {bottom: 38px;}
    100% {bottom: 40px;}
}
.mercadopago-button{
    width: 100%;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
/* LOADING */
.loading {
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.twist {
    background-image: url("../images/icons/loading.gif");
    background-size: contain;
    position: relative;
    width: 70px;
    height: 70px;
    /* border: 3px solid #fff;
    border-radius: 100%; */
    
    
}
/* FOOTER */
footer {
    bottom: 0;
    left: 0;
}
#atendimento ul{
    padding: 0;
    list-style: none;
}
#atendimento a{
    color: #FFF;
    opacity: 0.5;
}
.telefones p{
    opacity: 0.7;
}
legend{
    width: fit-content;
}
@media only screen and (max-width: 330px){
    .table_finalizar td, .table_finalizar th{
        font-size: 10px!important;
        width: 80px!important;
        padding: 3px;
    }
    .table_finalizar .col_qtd{
        width: 40px!important;
        padding: 5px;
    }
    .table_finalizar .col_nome{
        width: 100px!important;
        padding: 3px;
    }
    .table_finalizar .col_foto{
        width: 30px!important;
        padding: 3px;
    }
    .table_finalizar .qtd{
        width: 30px!important;
        text-indent: 0;
    }
    .table_finalizar > tbody > tr > td > img{
        width: 20px!important;
    }
}
